@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2>


<address>
    Plot No: 64, No: 2, <br /> 4th E St, Kamaraj Nagar, <br /> Thiruvanmiyur, Chennai, Tamil Nadu 600041 <br />
    <abbr title="Phone">P:</abbr>
    044 4560 5237
</address>


<div class="visme_d" data-title="Sales Contact Form" data-url="x40r6voq-sales-contact-form" data-domain="forms" data-full-page="false" data-min-height="500px" data-form-id="83949"></div>
<script src="https://static-bundles.visme.co/forms/vismeforms-embed.js"></script>
<address>
    <strong>Support:</strong>   <a href="mailto:support@btreesystem.com">support@btreesystem.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:marketing@btreesystem.com">marketing@btreesystem.com</a>
</address>
