@{
    ViewBag.Title = "Home Page";
}



<div class="main-head container" id="main-head">
    <div class="overlay">
        <h2 id="main-h1">BTree Employee Management System</h2>
        <p class="lead d-md-none d-lg-block" id="main-para1">The BTree Employee Management System is a comprehensive application designed for efficient employee data management. Developed using a .NET ASP backend with HTML and CSS for the frontend, it offers real-time data updates, secure access controls, and an intuitive interface. This system streamlines employee record handling, performance tracking, and departmental management, making it ideal for businesses of all sizes.</p>
        <p class="slo d-md-none d-lg-block" id="main-para">Easier Employee Tracking for a Happier Workplace.</p>
        <a href="https://btreesystems.com" class="btn btn-lg" >Learn more &raquo; <img src="~/Logo.svg" height="40" /></a>
    </div>

</div>
<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            The BTree Employee Management System is a powerful tool for managing employee data with real-time updates, robust security, and an intuitive interface. Developed with a .NET ASP backend and HTML/CSS frontend, it streamlines record handling, performance tracking, and departmental management. Ideal for businesses of all sizes, it helps you efficiently manage your workforce.
        </p>
        <p><a class="btn btn-default" href="https://btreesystems.com">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Git Hub Repository</h2>
        <p> The BTree Employee Management System efficiently manages employee data with a .NET ASP backend and HTML/CSS frontend. It provides real-time updates, secure access, and an intuitive interface, streamlining record handling, performance tracking, and departmental management for businesses of all sizes.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Know More</h2>
        <p>The "Know More" section provides detailed insights into BTree systems, a crucial data structure used in computer science for efficient data storage and retrieval. Explore in-depth articles, practical guides, and FAQs to understand how BTree systems work, their applications, and their advantages. Whether you're looking to grasp the fundamentals or delve into advanced concepts, this section is your key resource for mastering BTree systems.</p>
        <p><a class="btn btn-default" href="https://btreesystems.com">Learn more &raquo;</a></p>
    </div>
</div>